*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}


body{
    background-color: rgba(10, 10, 9, 1);
}

.container{
    /* border: 2px solid red; */
    height: 1300px;
    display: flex;
    flex-direction: column;
}

.name h4{
    position: relative;
    color: #FFFFFF;
    font-size: 30px;
}

.nav{
    /* border: 2px solid red; */
    background-color: rgba(10, 10, 9, 0.925);
    height: 60px;
    position: sticky;
    top: 0%;
    z-index: 2;
}

nav{
    height: 0%;
    position: sticky;
}

.name{
    width: 95%;
    position: relative;
    /* top: 10%; */
    left: 5%;
    flex-basis: 40px;
    /* border: 2px solid red; */
    display: flex;
}

.intro h4{
    margin-bottom:2%;
}

.intro {
    top: 15%;
    align-self: center;
    position: relative;
    width: 90%;
    /* height: 70%; */
    /* background-color: blue; */
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    color: #FFFFFF;
    flex-basis: 480px;
    border-bottom: 1px solid rgba(245, 222, 179, 0.203);
}

.name1{
    /* border: 2px solid red; */
    flex-basis: 70%;
    padding-top: 1%;
}

.home{
    /* border: 2px solid red; */
    flex-basis: 10%;
    padding-top: 1.5%;
}

.home h4{
    font-size: 120%;
}

.about{
    /* border: 2px solid red; */
    flex-basis: 10%;
    padding-top: 1.5%;
}

.about h4{
    font-size: 120%;
}

.contact{
    /* border: 2px solid red; */
    flex-basis: 10%;
    padding-top: 1.5%;
}

.contact h4{
    font-size: 120%;
}

.aboutm{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    position: relative;
    top: 270px;
    height: 10%;
    margin-bottom: 0%;
}

.skillsm{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    position: relative;
    top: 370px;
    height: 15%;
    margin-bottom: 0%;
}

.left-skills{
    /* border: 2px solid red; */
    font-size: 150%;
    color: white;
    flex-basis: 50%;
}

.left-skills h4{
    font-size: 150%;
    color: white;
    margin-left: 20%;
    margin-top: 0%;
}

.right-skills h4{
    font-size: 110%;
    color: rgba(255, 255, 255, 0.635);
}

.right-skills{
    /* border: 2px solid red; */
    font-size: 150%;
    color: white;
    flex-basis: 50%;
}

.left-about{
    /* border: 2px solid red; */
    font-size: 150%;
    color: white;
    flex-basis: 50%;
}

.left-about h4{
    font-size: 150%;
    color: white;
    margin-left: 20%;
    margin-top: 0%;
}

.right-about{
    /* border: 2px solid red; */
    font-size: 150%;
    color: white;
    flex-basis: 45%;
}

.skills2{
    border-bottom: 1px solid rgba(245, 222, 179, 0.203);
    padding-bottom: 2%;
    margin-top: 2%;
}

.skill1 h4{
    color: white;
    font-size: 110%;
    margin-top: 2%;
}

.skills2 h5{
    color: rgba(255, 255, 255, 0.635);
    font-size: 100%;
}

.name a{
    text-decoration : none;
}

.button{
    display: none;
    flex-basis: 0px;
    width: 100px;
    height: 100px;
    position: relative;
    left: 10%;
}





@media screen and (max-width: 500px){

    *{
        padding: 0px;
        margin: 0px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    
    body{
        background-color: rgba(10, 10, 9, 1);
    }
    
    .container{
        /* border: 2px solid red; */
        height: 1300px;
        display: flex;
        flex-direction: column;
    }
    
    .name1 h4{
        position: relative;
        color: #FFFFFF;
        font-size: 120%;
    }
    
    .nav{
        /* border: 2px solid red; */
        background-color: rgba(10, 10, 9, 0.925);
        height: 40px;
        position: sticky;
        top: 0%;
        z-index: 2;
    }
    
    nav{
        height: 0%;
        position: sticky;
    }
    
    .name{
        width: 95%;
        position: relative;
        left: 5%;
        flex-basis: 40px;
        display: flex;
    }
    
    .intro h4{
        margin-bottom:0%;
    }
    
    .intro {
        top: 15%;
        align-self: center;
        position: relative;
        width: 90%;
        font-family: 'Roboto Condensed', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 360%;
        line-height: 80px;
        text-align: center;
        color: #FFFFFF;
        flex-basis: 480px;
        border-bottom: 1px solid rgba(245, 222, 179, 0.203);
    }
    
    .name1{
        flex-basis: 80%;
        padding-top: 1%;
    }
    
    .home{
        flex-basis: 12%;
        padding-top: 1.5%;
        display: none;
    }
    
    .home h4{
        font-size: 110%;
    }
    
    .about{
        flex-basis: 12%;
        padding-top: 1.5%;
        display: none;
    }
    
    .about h4{
        font-size: 110%;
    }
    
    .contact{
        display: none;
        flex-basis: 0%;
        padding-top: 1.5%;
    }
    
    .contact h4{
        font-size: 110%;
    }
    
    .aboutm{
        /* border: 2px solid red; */
        display: flex;
        flex-direction: row;
        position: relative;
        top: 270px;
        height: 10%;
        margin-bottom: 0%;
    }
    
    .skillsm{
        display: flex;
        flex-direction: row;
        position: relative;
        top: 370px;
        height: 15%;
        margin-bottom: 0%;
    }
    
    
    .left-about{
        color: white;
        flex-basis: 45%;
    }
    
    .left-about h4{
        font-size: 90%;
        color: white;
        margin-left: 20%;
        margin-top: 0%;
    }
    
    .right-about h4{
        font-size: 85%;
        color: rgba(255, 255, 255, 0.635);
    }
    
    .right-about{
        font-size: 120%;
        color: white;
        flex-basis: 50%;
    }
    
    .skill1{
        padding-bottom: 1%;
        margin-top: 2%;
    }

    .skills2 h5{
        color: rgba(255, 255, 255, 0.635);
        font-size: 85%;
    }
    
    .name a{
        text-decoration : none;
    }

    #rightMenu{
        position: sticky;
        background-color: black;
        width: 200px;
        height: 500px;
        top: 40px;
        display: none;
        flex-direction: column;
        z-index: 3;
        opacity: 0.9;
        
    }

    .button{
        display: block;
        flex-basis: 0px;
        width: 100px;
        height: 100px;
        position: relative;
        left: 10%;
    }

    .button2 {
        background-color: black;
    }

    .button .button2 h3{
        font-size: 25px;
        color: white;
    }

    .button3 {
        background-color: black;
        width: 150%;
        height: 35px;
    }

    .close .button3 h3{
        font-size: 25px;
        color: white;
    }
    
    .close{
        width: fit-content;
        position: relative;
        left: 60%;
        cursor: pointer;
    }
    
    .close h4{
        font-size: 100%;
        cursor: pointer;
    }
    
    .home1{
        margin-top: 30px;
        margin-bottom: 30px;
        flex-basis: 50px;
        border-bottom: 1px solid rgba(245, 222, 179, 0.203);
    }
    
    .home1 a h4{
        font-size: 150%;
    }
    
    .about2{
        flex-basis: 50px;
        margin-bottom: 30px;
        border-bottom: 1px solid rgba(245, 222, 179, 0.203);
    }
    
    .about2 a h4{
        font-size: 150%;
    }
    
    .contact3{
        flex-basis: 50px;
        margin-bottom: 30px;
        border-bottom: 1px solid rgba(245, 222, 179, 0.203);
    }
    
    .contact3 a h4{
        font-size: 150%;
    }
    
    .button{
        display: block;
        flex-basis: 50px;
        cursor: pointer;
    }

}





@media screen and (min-width: 768px) and (max-width: 1024px){

    *{
        padding: 0px;
        margin: 0px;
        font-family: 'Roboto Condensed', sans-serif;
    }
    
    
    body{
        background-color: rgba(10, 10, 9, 1);
    }
    
    .container{
        height: 1300px;
        display: flex;
        flex-direction: column;
    }
    
    .name1 h4{
        position: relative;
        color: #FFFFFF;
        font-size: 120%;
    }
    
    .nav{
        background-color: rgba(10, 10, 9, 0.925);
        height: 40px;
        position: sticky;
        top: 0%;
        z-index: 2;
    }
    
    nav{
        height: 0%;
        position: sticky;
    }
    
    .name{
        width: 95%;
        position: relative;
        left: 5%;
        flex-basis: 40px;
        display: flex;
    }
    
    .intro h4{
        margin-bottom:0%;
    }
    
    .intro {
        top: 15%;
        align-self: center;
        position: relative;
        width: 90%;
        font-family: 'Roboto Condensed', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 450%;
        line-height: 80px;
        text-align: center;
        color: #FFFFFF;
        flex-basis: 480px;
        border-bottom: 1px solid rgba(245, 222, 179, 0.203);
    }
    
    .name1{
        flex-basis: 60%;
        padding-top: 1%;
    }
    
    .home{
        flex-basis: 12%;
        padding-top: 1.5%;
    }
    
    .home h4{
        font-size: 110%;
    }
    
    .about{
        /* border: 2px solid red; */
        flex-basis: 12%;
        padding-top: 1.5%;
    }
    
    .about h4{
        font-size: 110%;
    }
    
    .contact{
        /* border: 2px solid red; */
        flex-basis: 0%;
        padding-top: 1.5%;
    }
    
    .contact h4{
        font-size: 110%;
    }
    
    .aboutm{
        /* border: 2px solid red; */
        display: flex;
        flex-direction: row;
        position: relative;
        top: 270px;
        height: 10%;
        margin-bottom: 0%;
    }
    
    .skillsm{
        /* border: 2px solid red; */
        display: flex;
        flex-direction: row;
        position: relative;
        top: 370px;
        height: 15%;
        margin-bottom: 0%;
    }
    
    .left-about{
        /* border: 2px solid red; */
        color: white;
        flex-basis: 45%;
    }
    
    .left-about h4{
        font-size: 120%;
        color: white;
        margin-left: 20%;
        margin-top: 0%;
    }
    
    .right-about h4{
        font-size: 120%;
        color: rgba(255, 255, 255, 0.635);
    }
    
    .right-about{
        /* border: 2px solid red; */
        font-size: 120%;
        color: white;
        flex-basis: 50%;
    }
    
    .skill1{
        padding-bottom: 0%;
        margin-top: 2%;
    }

    .skills2 h5{
        color: rgba(255, 255, 255, 0.635);
        font-size: 90%;
    }
    
    .name a{
        text-decoration : none;
    }



}
